<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Blog Index</title>

    <div th:replace="includes :: bootstrap_head"></div>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="d-flex flex-column sticky-footer-wrapper">
        <div th:replace="includes :: navbar"></div>

        <main class="flex-fill">
            <div class="container">
                <div class="jumbotron jumbotron-fluid rounded-lg text-dark bg-light mb-3 p-4 border border-dark clearfix">
                    <form action="/blog/delete/confirm" th:object="${entry}" method="post">
                        <input type="hidden" id="id" name="id" th:value="${entry.getId()}" required>
                        <h2 class="display-3 font-weight-bold">WARNING!</h2>
                        <h2 class="display-4">Action cannot be undone.</h2>
                        <div class="form-group float-right">
                            <a th:href="'/blog/entry/' + ${entry.id}" class="btn btn-primary">Cancel</a>
                            <button type="submit" class="btn btn-danger">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <div th:replace="includes :: footer"></div>
    </div>
    <div th:replace="includes :: bootstrap_body"></div>
</body>
</html>