<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Blog Index</title>

    <div th:replace="includes :: bootstrap_head"></div>
</head>
<body>
    <div th:replace="includes :: navbar"></div>

    // TODO Why no rounded corners? :(
    <div class="jumbotron jumbotron-fluid">
        <div class="container rounded-lg" th:each="entry:${entries}">
            <div class="container text-white bg-dark mb-3" style="padding: .5rem;">
                <div class="container">
                    <h5 class="card-title" th:text="${entry.title}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${entry.created} + ' by ' + ${entry.author}" style="padding-left: .5rem; padding-right: .5rem;"></h6>
                    <div th:each="paragraph:${entry.getContentAsArray()}">
                        <p class="card-text" th:text="${paragraph}" style="margin-top: .5rem; margin-bottom: .5rem;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="includes :: bootstrap_body"></div>
</body>
</html>