<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Blog Index</title>

    <div th:replace="includes :: bootstrap_head"></div>
</head>
<body>
    <div th:replace="includes :: navbar"></div>

    <div class="container">
        <div class="jumbotron jumbotron-fluid rounded-lg text-white bg-dark mb-3 p-4">
            <a class="text-white" th:href="'/blog/entry/' + ${entry.getId()}">
                <h3 class="card-title" th:text="${entry.getTitle()}"></h3>
            </a>
            <h6 class="card-subtitle mb-4 text-muted" th:text="${entry.getFormattedCreated()} + ' by ' + ${entry.getAuthor()}" style="padding-left: .5rem; padding-right: .5rem;"></h6>
            <div th:each="paragraph:${entry.getContentAsArray()}">
                <p class="card-text" th:text="${paragraph}" style="margin-top: .5rem; margin-bottom: .5rem;"></p>
            </div>
            <h6 class="smallText card-subtitle text-muted" th:if="${entry.getModified()}" th:text="${entry.getFormattedModified()}"></h6>
        </div>
    </div>

    <div th:replace="includes :: bootstrap_body"></div>
</body>
</html>