<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Blog Index</title>

    <div th:replace="includes :: bootstrap_head"></div>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="d-flex flex-column sticky-footer-wrapper">
        <div th:replace="includes :: navbar"></div>

        <main class="flex-fill">
            <div class="container">
                <div class="jumbotron text-dark rounded bg-light border border-dark">
                    <h1 class="display-4">Welcome to My Site</h1>
                </div>
            </div>
        </main>

        <div th:replace="includes :: footer"></div>
    </div>
    <div th:replace="includes :: bootstrap_body"></div>
</body>
</html>